<div class="w-full py-16 px-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-4xl font-bold text-gray-900 mb-8 text-center">Solicitudes de Permiso</h2>

  <!-- Controles principales -->
  <div class="flex justify-between items-center mb-6">
    <!-- Botón para Retirar Día del Trimestre -->
    <button
      (click)="mostrarRetirarDia()"
      class="bg-red-600 text-white py-2 px-6 rounded-lg hover:bg-red-700 shadow-md focus:ring focus:ring-red-300">
      Retirar Día del Trimestre
    </button>

    <!-- Botón para Nueva Solicitud -->
    <button
      (click)="mostrarFormularioNuevaSolicitud()"
      class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700 shadow-md focus:ring focus:ring-blue-300">
      Nueva Solicitud
    </button>
  </div>

  <!-- Tablero de Solicitudes Activas -->
  <div *ngIf="tieneSolicitudesActivas && !mostrarFormulario && !mostrarRetirar && !mostrarDetalle" class="mb-8 bg-gray-50 p-6 rounded-lg shadow-md">
    <h3 class="text-2xl font-semibold text-gray-700 mb-6">Solicitudes Activas</h3>
    <div class="overflow-auto">
      <table class="min-w-full bg-white border rounded-lg">
        <thead>
          <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left font-semibold">Fecha Inicio</th>
            <th class="py-3 px-6 text-left font-semibold">Fecha Fin</th>
            <th class="py-3 px-6 text-left font-semibold">Descripción</th>
            <th class="py-3 px-6 text-left font-semibold">Estado</th>
            <th class="py-3 px-6 text-left font-semibold">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudesActivas" class="hover:bg-gray-50 border-b border-gray-200">
            <td class="py-4 px-6 text-gray-700">{{ solicitud.fechaInicio | date: 'dd-MM-yyyy' }}</td>
            <td class="py-4 px-6 text-gray-700">{{ solicitud.fechaFin | date: 'dd-MM-yyyy' }}</td>
            <td class="py-4 px-6 text-gray-700 truncate max-w-sm">{{ solicitud.descripcionPersonal }}</td>
            <td class="py-4 px-6 text-gray-700">
              <span
                [ngClass]="{
                  'bg-green-100 text-green-800 px-2 py-1 rounded-full': solicitud.estado === 'Aprobada',
                  'bg-yellow-100 text-yellow-800 px-2 py-1 rounded-full': solicitud.estado === 'Pendiente',
                  'bg-red-100 text-red-800 px-2 py-1 rounded-full': solicitud.estado === 'Rechazada'
                }"
              >
                {{ solicitud.estado }}
              </span>
            </td>
            <td class="py-4 px-6 text-gray-700">
              <button
                (click)="verDetalleSolicitud(solicitud.id)"
                class="text-blue-600 hover:text-blue-800 flex items-center space-x-2">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.5 4.5M19.5 14.5L15 19m-3-7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                </svg>
                <span>Ver Detalle</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Formulario para Retirar Día del Trimestre -->
  <div *ngIf="mostrarRetirar" class="bg-gray-50 p-6 rounded-lg shadow-lg">
    <h3 class="text-2xl font-semibold text-gray-700 mb-6">Retirar Día del Trimestre</h3>
    <div class="flex items-center space-x-4">
      <select
        [(ngModel)]="diaSeleccionado"
        class="block w-1/3 p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300">
        <option value="" disabled selected>Seleccione un día</option>
        <option *ngFor="let dia of diasHabilitados" [value]="dia.valor">
          {{ dia.nombre }}
        </option>
      </select>
      <button
        (click)="retirarDiaTrimestre()"
        class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 shadow-md focus:ring focus:ring-red-300">
        Retirar Día
      </button>
    </div>
    <button
      (click)="cerrarRetirar()"
      class="mt-4 bg-gray-600 text-white py-2 px-6 rounded-lg hover:bg-gray-700 shadow-md focus:ring focus:ring-gray-300">
      Cancelar
    </button>
  </div>

<!-- Formulario para Crear Solicitud -->
<div *ngIf="mostrarFormulario" class="bg-gray-50 p-6 rounded-lg shadow-lg">
  <h3 class="text-2xl font-semibold text-gray-700 mb-6">Nueva Solicitud de Permiso</h3>

  <!-- Paso 1: Selección de Fechas -->
  <div *ngIf="pasoActual === 1" class="space-y-4">
    <div>
      <label class="block text-lg font-medium text-gray-700">Fecha Inicio</label>
      <input
        type="date"
        [(ngModel)]="nuevaSolicitud.fechaInicio"
        name="fechaInicio"
        class="block w-full mt-2 input bg-white rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <div>
      <label class="block text-lg font-medium text-gray-700">Fecha Fin</label>
      <input
        type="date"
        [(ngModel)]="nuevaSolicitud.fechaFin"
        name="fechaFin"
        class="block w-full mt-2 input bg-white rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <button
      (click)="buscarDiasDisponibles()"
      class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700 shadow-md focus:ring focus:ring-blue-300 w-full"
    >
      Buscar Días Disponibles
    </button>
    <small class="text-gray-500">* El rango máximo permitido es de 14 días.</small>
  </div>

  <!-- Paso 2: Selección de Días -->
  <div *ngIf="pasoActual === 2" class="mt-6 bg-white p-4 rounded-lg shadow-sm">
    <h4 class="text-xl font-medium text-gray-700 mb-4">Seleccione los días habilitados:</h4>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div *ngFor="let dia of diasDisponibles" class="flex items-center space-x-2">
        <input type="checkbox" [(ngModel)]="dia.seleccionado" (change)="actualizarDiasSeleccionados()" />
        <label>{{ dia.fechaConflicto | date: 'dd-MM-yyyy' }}</label>
      </div>
    </div>
    <div class="flex justify-between mt-4">
      <button
        (click)="volverPaso()"
        *ngIf="pasoActual > 1"
        class="bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 shadow-md focus:ring focus:ring-gray-300"
      >
        Volver
      </button>
      <button
        (click)="guardarDiasYContinuar()"
        class="bg-green-500 text-white py-2 px-6 rounded-lg hover:bg-green-600 shadow-md focus:ring focus:ring-green-300"
      >
        Guardar y Continuar
      </button>
    </div>
  </div>

  <!-- Paso 3: Descripción e Imagen -->
  <div *ngIf="pasoActual === 3">
    <label class="block text-lg font-medium text-gray-700 mt-6">Descripción Personal</label>
    <textarea
      [(ngModel)]="nuevaSolicitud.descripcionPersonal"
      name="descripcionPersonal"
      rows="4"
      class="block w-full mt-2 input bg-white rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
    ></textarea>

    <label class="block text-lg font-medium text-gray-700 mt-6">Subir Imagen</label>
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      class="block w-full mt-2 input bg-white rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
    />
    <div *ngIf="previewUrl" class="mt-4">
      <p class="text-sm text-gray-600">Previsualización de la imagen:</p>
      <img [src]="previewUrl" alt="Previsualización de la imagen" class="mt-2 max-w-full rounded-lg shadow-md" />
    </div>

    <div class="flex justify-between mt-4">
      <button
        (click)="volverPaso()"
        class="bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 shadow-md focus:ring focus:ring-gray-300"
      >
        Volver
      </button>
    </div>
  </div>

  <!-- Botones de Acción Final -->
  <div *ngIf="pasoActual === 3" class="flex justify-end space-x-4 mt-6">
    <button
      type="submit"
      (click)="crearSolicitudPermisoV2()"
      class="bg-green-600 text-white py-2 px-6 rounded-lg hover:bg-green-700 shadow-md focus:ring-green-300"
    >
      Crear
    </button>
    <button
      type="button"
      (click)="cancelarFormulario()"
      class="bg-red-600 text-white py-2 px-6 rounded-lg hover:bg-red-700 shadow-md focus:ring-red-300"
    >
      Cancelar
    </button>
  </div>
</div>






<!-- Detalle de la Solicitud -->
<div *ngIf="mostrarDetalle" class="bg-gray-50 p-8 rounded-lg shadow-lg mt-8">
  <h3 class="text-3xl font-bold text-gray-800 mb-8 border-b pb-2">Detalle de la Solicitud</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <p class="text-lg text-gray-700"><strong>Usuario:</strong> {{ detalleSolicitud?.nombreUsuario }}</p>
    <p class="text-lg text-gray-700"><strong>Cédula:</strong> {{ detalleSolicitud?.cedula }}</p>
    <p class="text-lg text-gray-700"><strong>Provincia:</strong> {{ detalleSolicitud?.provincia }}</p>
    <p class="text-lg text-gray-700"><strong>Equipo:</strong> {{ detalleSolicitud?.teamNombre }}</p>
    <p class="text-lg text-gray-700"><strong>Cargo:</strong> {{ detalleSolicitud?.cargo }}</p>
    <p class="text-lg text-gray-700"><strong>Fecha Inicio:</strong> {{ detalleSolicitud?.fechaInicio | date: 'dd-MM-yyyy' }}</p>
    <p class="text-lg text-gray-700"><strong>Fecha Fin:</strong> {{ detalleSolicitud?.fechaFin | date: 'dd-MM-yyyy' }}</p>
    <p class="text-lg text-gray-700 col-span-2"><strong>Descripción Personal:</strong></p>
    <div class="bg-white p-4 rounded-lg shadow-sm text-gray-700 col-span-2">{{ detalleSolicitud?.descripcionPersonal }}</div>
    <p class="text-lg text-gray-700 col-span-2"><strong>Descripción Supervisor:</strong></p>
    <div class="bg-white p-4 rounded-lg shadow-sm text-gray-700 col-span-2">{{ detalleSolicitud?.descripcionSupervisor }}</div>
    <p class="text-lg text-gray-700"><strong>Estado:</strong> <span class="font-semibold text-blue-600">{{ detalleSolicitud?.estado }}</span></p>
    <p class="text-lg text-gray-700"><strong>Estatus:</strong> <span class="font-semibold text-blue-600">{{ detalleSolicitud?.estatus }}</span></p>
  </div>

  <!-- Mostrar la imagen -->
  <div *ngIf="detalleSolicitud?.imagenUrl" class="mt-8">
    <h4 class="text-xl font-semibold text-gray-800">Imagen Adjunta:</h4>
    <div class="flex items-center space-x-6 mt-4">
      <img
        [src]="detalleSolicitud.imagenUrl"
        alt="Imagen de la Solicitud"
        class="rounded-lg shadow-md border max-w-md"
      />
      <button
        class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 shadow-md"
        (click)="abrirImagenEnNuevaPestana(detalleSolicitud.imagenUrl)"
      >
        Ver Imagen
      </button>
      <!-- Edición de la imagen si el estado es Rechazado -->
      <div *ngIf="detalleSolicitud?.estatus === 'Rechazado'" class="flex flex-col space-y-4">
        <input
          type="file"
          (change)="onImageSelected($event)"
          accept="image/*"
          class="p-2 border-gray-300 rounded-lg shadow-sm"
        />
        <button
          class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 shadow-md"
          (click)="actualizarImagenSolicitud()"
          [disabled]="!selectedImage"
        >
          Actualizar Imagen
        </button>
      </div>
      <!-- Mensaje si la edición no está permitida -->
      <p *ngIf="detalleSolicitud?.estatus === 'Aprobado'" class="text-gray-500">No puedes editar la imagen de una solicitud aprobada.</p>
    </div>
  </div>

  <h4 class="text-2xl font-bold text-gray-800 mt-8 border-b pb-3">Detalles del Conflicto</h4>
  <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
    <ul class="divide-y divide-gray-200">
      <li *ngFor="let detalle of detallesSeleccionados; let i = index" class="py-4">
        <div class="flex items-center space-x-4">
          <input type="checkbox" [(ngModel)]="detalle.seleccionado" class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
          <div class="flex-1">
            <p class="text-lg text-gray-700 font-medium"><strong>Fecha:</strong> {{ detalle.fechaConflicto | date: 'dd-MM-yyyy' }}</p>
            <p class="text-md text-gray-600"><strong>Motivo:</strong> {{ detalleSolicitud?.conflictoDetalles[i]?.motivo }}</p>
            <p class="text-md text-gray-600"><strong>Detalles Adicionales:</strong> {{ detalleSolicitud?.conflictoDetalles[i]?.detallesAdicionales }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="flex justify-end mt-8 space-x-4">
    <button
      (click)="deshabilitarDetallesConflicto()"
      class="bg-red-600 text-white py-2 px-6 rounded-lg hover:bg-red-700 shadow-md focus:ring focus:ring-red-300"
    >
      Deshabilitar Detalles Seleccionados
    </button>
    <button
      (click)="cerrarDetalle()"
      class="bg-gray-600 text-white py-2 px-6 rounded-lg hover:bg-gray-700 shadow-md focus:ring focus:ring-gray-300"
    >
      Cerrar
    </button>
  </div>
</div>





