<div class="max-w-7xl mx-auto py-16 px-6 bg-white rounded-lg shadow-lg mt-16">
  <h2 class="text-3xl font-bold text-gray-900 mb-8 text-center">Tablero de Conflictos</h2>

  <!-- Contenedor de Filtros -->
  <div *ngIf="!mostrarDetalle" class="p-6 bg-gray-50 rounded-lg shadow-md mb-8 space-y-4">
    <h3 class="text-xl font-semibold text-gray-700 mb-4">Filtros de búsqueda</h3>

    <!-- Filtros de Fechas y Estatus -->
    <div class="flex flex-col md:flex-row md:space-x-6 mb-4">
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Fecha de inicio</label>
        <input type="date" [(ngModel)]="startDate" (change)="onFechaChange()" class="input w-full mt-1" />
      </div>
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Fecha de fin</label>
        <input type="date" [(ngModel)]="endDate" (change)="onFechaChange()" class="input w-full mt-1" />
      </div>
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Estatus</label>
        <select [(ngModel)]="estatus" (change)="onEstatusChange($event)" class="input w-full mt-1">
          <option *ngFor="let estado of estatusList" [value]="estado">{{ estado }}</option>
        </select>
      </div>
    </div>

    <!-- Filtros específicos de región, provincia y equipo según el nivel de usuario -->
    <div class="flex flex-col md:flex-row md:space-x-6 mb-4">
      <div *ngIf="nivelUsuario === 3" class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Región</label>
        <select [(ngModel)]="selectedRegion" (change)="onRegionChange()" class="input w-full mt-1">
          <option value="" disabled selected>Seleccione una región</option>
          <option *ngFor="let region of regiones" [value]="region.regionId">{{ region.nombre }}</option>
        </select>
      </div>
      <div *ngIf="nivelUsuario >= 2" class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Provincia</label>
        <select [(ngModel)]="selectedProvincia" (change)="onProvinciaChange()" class="input w-full mt-1" [disabled]="nivelUsuario === 2 && !selectedRegion">
          <option value="" disabled selected>Seleccione una provincia</option>
          <option *ngFor="let provincia of provinciasFiltradas" [value]="provincia.provinciaId">{{ provincia.nombre }}</option>
        </select>
      </div>
      <!-- Equipos *ngIf="nivelUsuario === 3" -->
      <!--<div *ngIf="nivelUsuario <= 1"class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Equipo</label>
        <select [(ngModel)]="selectedTeam" (change)="onTeamChange()" class="input w-full mt-1">
          <option value="" disabled selected>Seleccione un equipo</option>
          <option *ngFor="let team of equipos" [value]="team.teamId">{{ team.nombre }}</option>
        </select>
      </div> -->
    </div>

    <div class="flex justify-end">
      <button (click)="obtenerConflictosAgrupados()" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Buscar</button>
    </div>
  </div>

  <!-- Tabla de Conflictos -->
  <!-- <div *ngIf="!mostrarDetalle && nivelUsuario <= 1" class="overflow-auto rounded-lg shadow-lg">
    <table class="min-w-full bg-white border rounded-lg">
      <thead>
        <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left font-semibold">Usuario</th>
          <th class="py-3 px-6 text-left font-semibold">Cédula</th>
          <th class="py-3 px-6 text-left font-semibold">Provincia</th>
          <th class="py-3 px-6 text-left font-semibold">Región</th>
          <th class="py-3 px-6 text-left font-semibold">Fecha de Generación</th>
          <th class="py-3 px-6 text-left font-semibold">Estatus</th>
          <th class="py-3 px-6 text-left font-semibold">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conflicto of conflictos | filtroConflictos: searchNombre : searchFecha" class="hover:bg-gray-50 border-b border-gray-200">
          <td class="py-4 px-6 text-gray-700">{{ conflicto.usuarioNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.cedula }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.provinciaNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.regionNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.fechaGeneracion | date: 'dd-MM-yyyy' }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.estatus }}</td>
          <td class="py-4 px-6 text-gray-700">
            <button (click)="verDetalle(conflicto.usuarioId, conflicto.teamName)">
              <svg class="w-5 h-5 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.5 4.5M19.5 14.5L15 19m-3-7a4 4 0 11-8 0 4 4 0 018 0z"></path>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div *ngIf="!mostrarDetalle" class="mt-10">
    <h3 class="text-3xl font-bold text-gray-900 mb-8 text-center">Conflictos Agrupados</h3>
    <div *ngFor="let tipo of conflictosAgrupados" class="p-4 bg-gray-50 rounded-lg shadow-md mb-6">
      <!-- Tipo de Ambulancia -->
      <div class="flex justify-between items-center">
        <h4 class="text-xl font-bold text-gray-700">{{ tipo.tipoAmbulanciaNombre }}</h4>
        <button (click)="alternarExpandir(tipo)" class="text-blue-600 hover:underline">
          {{ tipo.expanded ? 'Contraer' : 'Expandir' }}
        </button>
      </div>
      <div *ngIf="tipo.expanded" class="mt-4">
        <!-- Equipos -->
        <div *ngFor="let team of tipo.teams" class="p-4 bg-white rounded-lg shadow-md mb-4">
          <div class="flex justify-between items-center">
            <h5 class="text-lg font-semibold text-gray-600">Equipo: {{ team.teamNombre }}</h5>
            <button (click)="alternarExpandirEquipo(team)" class="text-blue-600 hover:underline">
              {{ team.expanded ? 'Contraer' : 'Expandir' }}
            </button>
          </div>
          <div *ngIf="team.expanded" class="mt-2">
            <!-- Usuarios -->
            <table class="min-w-full bg-gray-100 border rounded-lg">
              <thead>
                <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
                  <th class="py-3 px-6 text-left font-semibold">Nombre</th>
                  <th class="py-3 px-6 text-left font-semibold">Cédula</th>
                  <th class="py-3 px-6 text-left font-semibold">Cargo</th>
                  <th class="py-3 px-6 text-left font-semibold">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let conflicto of team.conflictos" class="hover:bg-gray-50 border-b border-gray-200">
                  <td class="py-4 px-6 text-gray-700">{{ conflicto.usuarioNombre }}</td>
                  <td class="py-4 px-6 text-gray-700">{{ conflicto.cedula }}</td>
                  <td class="py-4 px-6 text-gray-700">{{ conflicto.cargo }}</td>
                  <td class="py-4 px-6 text-gray-700">
                    <button (click)="verDetalle(conflicto, team.teamNombre)" class="text-blue-600 hover:underline">
                      Ver Detalle
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Detalle del Usuario Seleccionado -->
  <div *ngIf="mostrarDetalle" class="mt-10 space-y-8">

    <!-- Información Personal -->
    <div class="p-6 bg-gray-100 rounded-lg shadow-md relative">
      <h3 class="text-2xl font-bold mb-4">Información del Usuario</h3>
      <p><strong>Nombre:</strong> {{ detalleUsuario?.usuarioNombre }}</p>
      <p><strong>Rol:</strong> {{ detalleUsuario?.cargo }}</p>
      <p><strong>Provincia:</strong> {{ detalleUsuario?.provincia }}</p>

      <!-- Cambiar Estatus -->
<!-- Cambiar Estatus -->
<div class="absolute bottom-4 right-4 flex items-center space-x-2">
  <label class="block text-sm font-medium text-gray-700">Cambiar Estatus:</label>
  <select
    [(ngModel)]="detalleUsuario.estatus"
    [disabled]="detalleUsuario.estatusInicial === 'Rechazado'"
    class="input bg-gray-200 border border-gray-300 text-gray-700 rounded focus:ring-blue-500 focus:border-blue-500"
  >
    <option *ngFor="let estado of estatusList" [value]="estado">{{ estado }}</option>
  </select>
  <button
    (click)="cambiarEstatus(detalleUsuario.conflictoId, detalleUsuario.estatus)"
    [disabled]="detalleUsuario.estatusInicial === 'Rechazado'"
    class="bg-green-600 text-white px-3 py-1 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-150"
  >
    Cambiar
  </button>
</div>



    </div>
    <div *ngIf="imageUrlAbal" class="mb-8">
      <h3 class="text-2xl font-bold text-gray-900 mb-4 text-center">Aval del Conflicto</h3>
      <div class="flex justify-center">
        <img [src]="imageUrlAbal" alt="Imagen del conflicto" class="w-64 h-64 object-cover rounded-lg shadow-md" />
      </div>
      <div class="flex justify-center mt-4">
        <a [href]="imageUrlAbal" target="_blank" rel="noopener noreferrer" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
          Ver Imagen
        </a>
      </div>
    </div>

    <!-- Detalles de Conflictos -->
  <div *ngIf="!mostrarDetalleSolicitud" class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h3 class="text-2xl font-bold mb-4">Conflictos Actuales/Futuros</h3>
    <table class="min-w-full bg-white border rounded-lg">
      <thead>
        <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left font-semibold">Fecha de Conflicto</th>
          <th class="py-3 px-6 text-left font-semibold">Equipo</th>
          <th class="py-3 px-6 text-left font-semibold">Motivo</th>
          <th class="py-3 px-6 text-left font-semibold">Estatus</th>
          <th class="py-3 px-6 text-left font-semibold">Ver Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalleUsuario?.detalles" class="hover:bg-gray-50 border-b border-gray-200">
          <td class="py-4 px-6 text-gray-700">{{ detalle.fechaConflicto | date: 'dd-MM-yyyy' }}</td>
          <td class="py-4 px-6 text-gray-700">{{ detalleUsuario.teamName }}</td>
          <td class="py-4 px-6 text-gray-700">{{ detalle.motivo }}</td>
          <td class="py-4 px-6">
            <span
              class="px-2 py-1 rounded text-white text-sm font-medium"
              [ngClass]="detalle.asociadoASolicitud ? 'bg-green-500' : 'bg-red-500'"
            >
              {{ detalle.asociadoASolicitud ? 'Asociado' : 'No Asociado' }}
            </span>
          </td>
          <td class="py-4 px-6 text-center">
            <button
              class="text-blue-600 hover:underline"
              (click)="verDetalleSolicitud(detalle.solicitudPermisoId)"
            >
              Ver Detalle 2
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mostrarDetalleSolicitud" class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h3 class="text-2xl font-bold mb-4">Detalle de la Solicitud</h3>

    <!-- Información Personal -->
    <p><strong>Nombre:</strong> {{ detalleSolicitud?.usuarioNombre }}</p>
    <p><strong>Cédula:</strong> {{ detalleSolicitud?.cedula }}</p>
    <p><strong>Provincia:</strong> {{ detalleSolicitud?.provincia }}</p>
    <p><strong>Team:</strong> {{ detalleSolicitud?.teamName }}</p>
    <p><strong>Descripción Personal:</strong> {{ detalleSolicitud?.descripcionPersonal }}</p>
    <p><strong>Descripción Supervisor:</strong> {{ detalleSolicitud?.descripcionSupervisor }}</p>
    <p><strong>Fecha Inicio:</strong> {{ detalleSolicitud?.fechaInicio | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Fecha Fin:</strong> {{ detalleSolicitud?.fechaFin | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Estado:</strong>
      <span
        [ngClass]="{
          'text-green-600': detalleSolicitud?.estatus === 'Aprobado',
          'text-red-600': detalleSolicitud?.estatus !== 'Aprobado'
        }"
      >
        {{ detalleSolicitud?.estatus }}
      </span>
    </p>

    <!-- Detalles de Conflicto -->
    <h4 class="text-xl font-bold mt-6 mb-4">Conflictos Habilitados</h4>
    <table class="min-w-full bg-white border rounded-lg">
      <thead>
        <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left font-semibold">Fecha de Conflicto</th>
          <th class="py-3 px-6 text-left font-semibold">Motivo</th>
          <th class="py-3 px-6 text-left font-semibold">Detalles Adicionales</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let conflicto of detalleSolicitud?.detalles"
          class="hover:bg-gray-50 border-b border-gray-200"
        >
          <td class="py-4 px-6 text-gray-700">{{ conflicto.fechaConflicto | date: 'dd-MM-yyyy' }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.motivo }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.detallesAdicionales }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Botón para volver -->
    <button
      (click)="volverATabla2()"
      class="mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700"
    >
      Volver a la Tabla
    </button>
  </div>



    <!-- Botón de Regreso -->
    <button (click)="volverATabla()" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
      Volver
    </button>
  </div>
</div>
