<div class="max-w-7xl mx-auto py-16 px-6 bg-white rounded-lg shadow-lg mt-16">
  <h2 class="text-3xl font-bold text-gray-900 mb-8 text-center">Tablero de Conflictos</h2>

  <!-- Contenedor de Filtros -->
  <div *ngIf="!mostrarDetalle" class="p-6 bg-gray-50 rounded-lg shadow-md mb-8 space-y-4">
    <h3 class="text-xl font-semibold text-gray-700 mb-4">Filtros de búsqueda</h3>

    <!-- Filtros de Fechas y Estatus -->
    <div class="flex flex-col md:flex-row md:space-x-6 mb-4">
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Fecha de inicio</label>
        <input type="date" [(ngModel)]="startDate" (change)="onFechaChange()" class="input w-full mt-1" />
      </div>
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Fecha de fin</label>
        <input type="date" [(ngModel)]="endDate" (change)="onFechaChange()" class="input w-full mt-1" />
      </div>
      <div class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Estatus</label>
        <select [(ngModel)]="estatus" (change)="onEstatusChange($event)" class="input w-full mt-1">
          <option *ngFor="let estado of estatusList" [value]="estado">{{ estado }}</option>
        </select>
      </div>
    </div>

    <!-- Filtros específicos de región, provincia y equipo según el nivel de usuario -->
    <div class="flex flex-col md:flex-row md:space-x-6 mb-4">
      <div *ngIf="nivelUsuario >= 3 && nivelUsuario != 5" class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Región</label>
        <select [(ngModel)]="selectedRegion" (change)="onRegionChange()" class="input w-full mt-1">
          <option value="" disabled selected>Seleccione una región</option>
          <option *ngFor="let region of regiones" [value]="region.regionId">{{ region.nombre }}</option>
        </select>
      </div>
      <div *ngIf="nivelUsuario >= 2" class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Provincia</label>
        <select [(ngModel)]="selectedProvincia" (change)="onProvinciaChange()" class="input w-full mt-1" [disabled]="nivelUsuario === 2 && !selectedRegion">
          <option value="" disabled selected>Seleccione una provincia</option>
          <option *ngFor="let provincia of provinciasFiltradas" [value]="provincia.provinciaId">{{ provincia.nombre }}</option>
        </select>
      </div>
      <!-- Equipos *ngIf="nivelUsuario === 3" -->
      <!--<div *ngIf="nivelUsuario <= 1"class="w-full md:w-1/3">
        <label class="block text-sm font-medium text-gray-700">Equipo</label>
        <select [(ngModel)]="selectedTeam" (change)="onTeamChange()" class="input w-full mt-1">
          <option value="" disabled selected>Seleccione un equipo</option>
          <option *ngFor="let team of equipos" [value]="team.teamId">{{ team.nombre }}</option>
        </select>
      </div> -->
    </div>

    <div class="flex justify-end">
      <button (click)="obtenerConflictosAgrupados()" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Buscar</button>
    </div>
  </div>

  <!-- Tabla de Conflictos -->
  <!-- <div *ngIf="!mostrarDetalle && nivelUsuario <= 1" class="overflow-auto rounded-lg shadow-lg">
    <table class="min-w-full bg-white border rounded-lg">
      <thead>
        <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left font-semibold">Usuario</th>
          <th class="py-3 px-6 text-left font-semibold">Cédula</th>
          <th class="py-3 px-6 text-left font-semibold">Provincia</th>
          <th class="py-3 px-6 text-left font-semibold">Región</th>
          <th class="py-3 px-6 text-left font-semibold">Fecha de Generación</th>
          <th class="py-3 px-6 text-left font-semibold">Estatus</th>
          <th class="py-3 px-6 text-left font-semibold">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conflicto of conflictos | filtroConflictos: searchNombre : searchFecha" class="hover:bg-gray-50 border-b border-gray-200">
          <td class="py-4 px-6 text-gray-700">{{ conflicto.usuarioNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.cedula }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.provinciaNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.regionNombre }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.fechaGeneracion | date: 'dd-MM-yyyy' }}</td>
          <td class="py-4 px-6 text-gray-700">{{ conflicto.estatus }}</td>
          <td class="py-4 px-6 text-gray-700">
            <button (click)="verDetalle(conflicto.usuarioId, conflicto.teamName)">
              <svg class="w-5 h-5 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.5 4.5M19.5 14.5L15 19m-3-7a4 4 0 11-8 0 4 4 0 018 0z"></path>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div *ngIf="!mostrarDetalle" class="mt-10">
    <h3 class="text-3xl font-bold text-gray-900 mb-8 text-center">Conflictos Agrupados</h3>

    <div *ngFor="let item of conflictosAgrupados" class="p-4 bg-gray-50 rounded-lg shadow-md mb-6">
      <!-- Si es Provincia -->
      <div *ngIf="!isTipoAmbulancia(item)" class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex justify-between items-center">
          <h4 class="text-xl font-bold text-gray-700">{{ item.provinciaNombre }}</h4>
          <button (click)="alternarExpandirProvincia(item)" class="text-blue-600 hover:underline">
            {{ item.expanded ? 'Contraer' : 'Expandir' }}
          </button>
        </div>
        <div *ngIf="item.expanded" class="mt-4">
          <div *ngFor="let tipo of item.tiposAmbulancia" class="bg-gray-50 p-4 rounded-lg shadow-md mb-4">
            <div class="flex justify-between items-center">
              <h5 class="text-lg font-semibold text-gray-600">{{ tipo.tipoAmbulanciaNombre }}</h5>
              <button (click)="alternarExpandir(tipo)" class="text-blue-600 hover:underline">
                {{ tipo.expanded ? 'Contraer' : 'Expandir' }}
              </button>
            </div>
            <div *ngIf="tipo.expanded" class="mt-2">
              <div *ngFor="let team of tipo.teams" class="bg-white p-4 rounded-lg shadow-md mb-4">
                <div class="flex justify-between items-center">
                  <h6 class="text-base font-medium text-gray-600">Equipo: {{ team.teamNombre }}</h6>
                  <button (click)="alternarExpandirEquipo(team)" class="text-blue-600 hover:underline">
                    {{ team.expanded ? 'Contraer' : 'Expandir' }}
                  </button>
                </div>
                <div *ngIf="team.expanded" class="mt-2">
                  <table class="min-w-full bg-gray-100 border rounded-lg">
                    <thead>
                      <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left font-semibold">Nombre</th>
                        <th class="py-3 px-6 text-left font-semibold">Cédula</th>
                        <th class="py-3 px-6 text-left font-semibold">Cargo</th>
                        <th class="py-3 px-6 text-left font-semibold">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let conflicto of team.conflictos" class="hover:bg-gray-50 border-b border-gray-200">
                        <td class="py-4 px-6 text-gray-700">{{ conflicto.usuarioNombre }}</td>
                        <td class="py-4 px-6 text-gray-700">{{ conflicto.cedula }}</td>
                        <td class="py-4 px-6 text-gray-700">{{ conflicto.cargo }}</td>
                        <td class="py-4 px-6 text-gray-700">
                          <button (click)="verDetalle(conflicto, team.teamNombre)" class="text-blue-600 hover:underline">
                            Ver Detalle
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Si es TipoAmbulancia -->
      <div *ngIf="isTipoAmbulancia(item)" class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex justify-between items-center">
          <h4 class="text-xl font-bold text-gray-700">{{ item.tipoAmbulanciaNombre }}</h4>
          <button (click)="alternarExpandir(item)" class="text-blue-600 hover:underline">
            {{ item.expanded ? 'Contraer' : 'Expandir' }}
          </button>
        </div>
        <div *ngIf="item.expanded" class="mt-4">
          <div *ngFor="let team of item.teams" class="bg-gray-50 p-4 rounded-lg shadow-md mb-4">
            <div class="flex justify-between items-center">
              <h5 class="text-lg font-semibold text-gray-600">Equipo: {{ team.teamNombre }}</h5>
              <button (click)="alternarExpandirEquipo(team)" class="text-blue-600 hover:underline">
                {{ team.expanded ? 'Contraer' : 'Expandir' }}
              </button>
            </div>
            <div *ngIf="team.expanded" class="mt-2">
              <table class="min-w-full bg-gray-100 border rounded-lg">
                <thead>
                  <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left font-semibold">Nombre</th>
                    <th class="py-3 px-6 text-left font-semibold">Cédula</th>
                    <th class="py-3 px-6 text-left font-semibold">Cargo</th>
                    <th class="py-3 px-6 text-left font-semibold">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let conflicto of team.conflictos" class="hover:bg-gray-50 border-b border-gray-200">
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.usuarioNombre }}</td>
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.cedula }}</td>
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.cargo }}</td>
                    <td class="py-4 px-6 text-gray-700">
                      <button (click)="verDetalle(conflicto, team.teamNombre)" class="text-blue-600 hover:underline">
                        Ver Detalle
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Detalle del Usuario Seleccionado -->
  <div *ngIf="mostrarDetalle" class="mt-10 space-y-8">

    <!-- Información Personal -->
    <div class="p-6 bg-gray-100 rounded-lg shadow-md relative">
      <h3 class="text-2xl font-bold mb-4">Información del Usuario</h3>
      <p><strong>Nombre:</strong> {{ detalleUsuario?.usuarioNombre }}</p>
      <p><strong>Cargo:</strong> {{ detalleUsuario?.cargo }}</p>
      <p><strong>Provincia:</strong> {{ detalleUsuario?.provincia }}</p>
      <div class="mb-16">
        <p><strong>Observaciones:</strong></p>
        <p class="observaciones bg-white p-3 rounded border border-gray-300 shadow-sm">
          {{ detalleUsuario?.nota }}
        </p>
      </div>


 <!-- Cambiar Estatus -->
 <div class="absolute bottom-4 right-4 flex items-center space-x-2">
  <label class="block text-sm font-medium text-gray-700">Cambiar Estatus:</label>
  <select
    [(ngModel)]="detalleUsuario.estatus"
    [disabled]="
      nivelUsuario === 6 ||
      (nivelUsuario < 4 && (detalleUsuario.estatusInicial === 'Rechazado' || detalleUsuario.estatusInicial === 'Aprobado')) ||
      ((nivelUsuario === 5 || nivelUsuario === 7) && detalleUsuario.estatusInicial === 'Rechazado')
    "
    class="input bg-gray-200 border border-gray-300 text-gray-700 rounded focus:ring-blue-500 focus:border-blue-500"
  >
    <option
      *ngFor="let estado of filtrarEstatus()"
      [value]="estado"
      [disabled]="
        (nivelUsuario === 5 && (estado !== 'Aprobado' && estado !== 'Rechazado')) ||
        (nivelUsuario < 4 && (estado === 'Aprobado' || estado === 'Rechazado'))
      "
    >
      {{ estado }}
    </option>
  </select>
  <button
    *ngIf="nivelUsuario !== 6"
    (click)="abrirModalSiEsNecesario(detalleUsuario.estatus)"
    [disabled]="
      (nivelUsuario === 5 && detalleUsuario.estatusInicial === 'Rechazado') ||
      (nivelUsuario < 4 && (detalleUsuario.estatusInicial === 'Aprobado' || detalleUsuario.estatusInicial === 'Rechazado'))
    "
    class="bg-green-600 text-white px-3 py-1 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-150"
  >
    Cambiar
  </button>
</div>

<!-- Modal -->
<div
  *ngIf="mostrarModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white rounded-lg shadow-lg w-2/3 p-8 max-w-4xl">
    <h2 class="text-xl font-semibold text-gray-800 mb-6 text-center">
      Agregar Observaciones
    </h2>
    <textarea
      [(ngModel)]="notaCambio"
      class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      rows="8"
      placeholder="Escribe aquí una nota o comentario..."
    ></textarea>
    <div class="mt-6 flex justify-end space-x-4">
      <button
        (click)="cerrarModal()"
        class="bg-gray-300 text-gray-800 px-5 py-3 rounded-lg hover:bg-gray-400 transition"
      >
        Cancelar
      </button>
      <button
        (click)="guardarNotaYCambiarEstatus()"
        class="bg-blue-600 text-white px-5 py-3 rounded-lg hover:bg-blue-700 transition"
      >
        Guardar
      </button>
    </div>
  </div>
</div>

    </div>
    <div *ngIf="imageUrlAbal" class="mb-8">
      <h3 class="text-2xl font-bold text-gray-900 mb-4 text-center">Aval del Conflicto</h3>
      <div class="flex justify-center">
        <img [src]="imageUrlAbal" alt="Imagen del conflicto" class="w-64 h-64 object-cover rounded-lg shadow-md" />
      </div>
      <div class="flex justify-center mt-4">
        <a [href]="imageUrlAbal" target="_blank" rel="noopener noreferrer" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
          Ver Imagen
        </a>
      </div>
    </div>

    <!-- Detalles de Conflictos -->
  <div *ngIf="!mostrarDetalleSolicitud" class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h3 class="text-2xl font-bold mb-4">Conflictos Actuales/Futuros</h3>
    <table class="min-w-full bg-white border rounded-lg">
      <thead>
        <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left font-semibold">Fecha de Conflicto</th>
          <th class="py-3 px-6 text-left font-semibold">Equipo</th>
          <th class="py-3 px-6 text-left font-semibold">Motivo</th>
          <th class="py-3 px-6 text-left font-semibold">Estatus</th>
          <th class="py-3 px-6 text-left font-semibold">Ver Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalleUsuario?.detalles" class="hover:bg-gray-50 border-b border-gray-200">
          <td class="py-4 px-6 text-gray-700">{{ detalle.fechaConflicto | date: 'dd-MM-yyyy' }}</td>
          <td class="py-4 px-6 text-gray-700">{{ detalleUsuario.teamName }}</td>
          <td class="py-4 px-6 text-gray-700">{{ detalle.motivo }}</td>
          <td class="py-4 px-6">
            <span
              class="px-2 py-1 rounded text-white text-sm font-medium"
              [ngClass]="detalle.asociadoASolicitud ? 'bg-green-500' : 'bg-red-500'"
            >
              {{ detalle.asociadoASolicitud ? 'Asociado' : 'No Asociado' }}
            </span>
          </td>
          <td class="py-4 px-6 text-center">
            <button
              class="text-blue-600 hover:underline"
              (click)="verDetalleSolicitud(detalle.solicitudPermisoId)"
            >
              Ver Detalle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostrarDetalleSolicitud" class="p-6 bg-gray-100 rounded-lg shadow-md relative">
    <!-- Cabecera con Cambiar Estatus -->
    <div class="relative mb-6">
        <div class="flex justify-between items-center">
            <h3 class="text-2xl font-bold text-gray-800">Detalle de la Solicitud</h3>
        </div>
        <!-- Línea divisoria debajo del título -->
        <hr class="border-gray-300 mt-2">
        <!-- Cambiar Estatus debajo del título alineado a la derecha -->
<div *ngIf="nuevoEstatus" class="flex justify-end mt-4">
  <div class="flex items-center space-x-2">
      <label for="estatusSelect" class="block text-sm font-medium text-gray-700">Cambiar Estatus:</label>
      <select
          id="estatusSelect"
          [(ngModel)]="nuevoEstatus"
          [disabled]="
            nivelUsuario === 6 ||
            (nivelUsuario < 4 && (detalleUsuario.estatusInicial === 'Rechazado' || detalleUsuario.estatusInicial === 'Aprobado')) ||
            ((nivelUsuario === 5 || nivelUsuario === 7) && detalleUsuario.estatusInicial === 'Rechazado')
          "
          class="block w-40 p-2 border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
      >
          <option
              *ngFor="let estado of obtenerEstatusPermitidos()"
              [value]="estado"
              [disabled]="
                (nivelUsuario === 5 && (estado !== 'Aprobado' && estado !== 'Rechazado')) ||
                (nivelUsuario < 4 && (estado === 'Aprobado' || estado === 'Rechazado'))
              "
          >
              {{ estado }}
          </option>
      </select>
      <button
          class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 shadow-md"
          (click)="cambiarEstatusSolicitud()"
          [disabled]="
            (nivelUsuario === 5 && detalleUsuario.estatusInicial === 'Rechazado') ||
            (nivelUsuario < 4 && (detalleUsuario.estatusInicial === 'Aprobado' || detalleUsuario.estatusInicial === 'Rechazado'))
          "
      >
          Cambiar Estatus
      </button>
  </div>
</div>

    </div>

    <!-- Contenedor principal con fondo -->
    <div class="bg-gray-50 p-6 rounded-lg shadow-inner">
        <!-- Información Personal -->
        <h4 class="text-2xl font-semibold text-gray-800 mb-6 border-b pb-2">Información Personal</h4>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="space-y-4">
            <p><strong>Nombre:</strong> {{ detalleSolicitud?.usuarioNombre }}</p>
            <p><strong>Cédula:</strong> {{ detalleSolicitud?.cedula }}</p>
            <p><strong>Provincia:</strong> {{ detalleSolicitud?.provincia }}</p>
            <p><strong>Equipo:</strong> {{ detalleSolicitud?.teamName }}</p>
            <p><strong>Cargo:</strong> {{ detalleSolicitud?.cargo }}</p>
            <p><strong>Fecha Inicio:</strong> {{ detalleSolicitud?.fechaInicio | date: 'dd-MM-yyyy' }}</p>
            <p><strong>Fecha Fin:</strong> {{ detalleSolicitud?.fechaFin | date: 'dd-MM-yyyy' }}</p>
          </div>

          <div class="space-y-4">
            <p><strong>Estado de la Solicitud:</strong>
              <span
                [ngClass]="{
                  'text-green-600 font-semibold': detalleSolicitud?.estadoSolicitud === 'Aprobado',
                  'text-red-600 font-semibold': detalleSolicitud?.estadoSolicitud === 'Rechazado',
                  'text-yellow-600 font-semibold': detalleSolicitud?.estadoSolicitud === 'Pendiente'
                }">
                {{ detalleSolicitud?.estadoSolicitud }}
              </span>
            </p>
            <p><strong>Estatus Actual:</strong>
              <span
                [ngClass]="{
                  'text-green-600 font-semibold': detalleSolicitud?.estatus === 'Aprobado',
                  'text-red-600 font-semibold': detalleSolicitud?.estatus === 'Rechazado',
                  'text-yellow-600 font-semibold': detalleSolicitud?.estatus === 'Pendiente'
                }">
                {{ detalleSolicitud?.estatus }}
              </span>
            </p>
          </div>
        </div>

        <div class="mt-6">
          <p class="font-semibold text-lg mb-2">Descripción Personal:</p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 whitespace-pre-line">{{ detalleSolicitud?.descripcionPersonal }}</p>
          </div>
        </div>

        <div class="mt-4">
          <p class="font-semibold text-lg mb-2">Descripción Supervisor:</p>
          <div class="bg-gray-100 p-4 rounded-lg shadow-sm">
            <p class="text-gray-700 whitespace-pre-line">{{ detalleSolicitud?.descripcionSupervisor }}</p>
          </div>
        </div>




        <!-- Mostrar la Imagen -->
        <div *ngIf="detalleSolicitud?.imagenUrl" class="mt-6">
            <h4 class="text-lg font-bold">Imagen Adjunta:</h4>
            <div class="flex items-center space-x-4">
                <img
                    [src]="detalleSolicitud.imagenUrl"
                    alt="Imagen de la Solicitud"
                    class="mt-2 max-w-full md:max-w-sm rounded-lg shadow-md border"
                />
                <button
                    class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 shadow-md"
                    (click)="abrirImagenEnNuevaPestana(detalleSolicitud.imagenUrl)"
                >
                    Abrir en Nueva Pestaña
                </button>
            </div>
        </div>
    </div>

    <!-- Detalles de Conflicto -->
    <div class="mt-8 bg-white p-6 rounded-lg shadow-md">
        <h4 class="text-xl font-semibold text-gray-800 mb-4">Detalles de Conflicto</h4>
        <table class="min-w-full bg-white border rounded-lg">
            <thead>
                <tr class="bg-blue-100 text-gray-700 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left font-semibold">Fecha de Conflicto</th>
                    <th class="py-3 px-6 text-left font-semibold">Motivo</th>
                    <th class="py-3 px-6 text-left font-semibold">Detalles Adicionales</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let conflicto of detalleSolicitud?.detalles"
                    class="hover:bg-gray-50 border-b border-gray-200"
                >
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.fechaConflicto | date: 'dd-MM-yyyy' }}</td>
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.motivo }}</td>
                    <td class="py-4 px-6 text-gray-700">{{ conflicto.detallesAdicionales }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botón para volver -->
    <div class="flex justify-end mt-8">
        <button
            (click)="volverATabla2()"
            class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700"
        >
            Volver a la Tabla
        </button>
    </div>
</div>











    <!-- Botón de Regreso -->
    <button (click)="volverATabla()" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
      Volver
    </button>
  </div>
</div>
