<aside id="logo-sidebar" class="fixed shadow-lg top-0 left-0 z-40 w-64 h-screen pt-24 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar" style="background-color: #1d3b6f;">
  <!-- Contenedor de usuario -->
  <div class="flex flex-col items-center py-6">
    <img src="https://via.placeholder.com/100" alt="Usuario" class="w-24 h-24 rounded-full shadow-md mb-4">
    <!-- Muestra el nombre y el rol del usuario -->
    <h2 class="text-white font-bold text-lg">{{ nombre || 'Nombre del Usuario' }}</h2>
    <p class="text-gray-300 text-sm">{{ rol || 'Rol del Usuario' }}</p>
    <p class="text-gray-300 text-sm">{{ team || 'Rol del Usuario' }}</p>
 </div>

  <!-- Divider -->
  <hr class="w-3/4 mx-auto my-4 border-gray-400 opacity-50">
  <div class="h-full px-3 pb-4 overflow-y-auto" style="background-color: #1d3b6f;">
     <ul class="space-y-2 font-medium">
        <li *ngIf="nivelUsuario > 0">
          <a [routerLink]="['/Conflictos']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
             <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
             </svg>
             <span class="flex-1 ms-3 whitespace-nowrap">Conflictos</span>
          </a>
       </li>
       <li *ngIf="nivelUsuario > 0">
        <a [routerLink]="['/TableroUsuarios']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
           <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
           </svg>
           <span class="flex-1 ms-3 whitespace-nowrap">Usuarios</span>
        </a>
     </li>
     <li *ngIf="nivelUsuario >= 0">
      <a [routerLink]="['/horario']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
         <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
         </svg>
         <span class="flex-1 ms-3 whitespace-nowrap">Horario de Conflictos</span>
      </a>
   </li>
   <li *ngIf="nivelUsuario >= 0">
    <a [routerLink]="['/ValidacionFechas']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
       <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
       </svg>
       <span class="flex-1 ms-3 whitespace-nowrap">Cargar Horario</span>
    </a>
 </li>
      <li *ngIf="habilitarApartado">
        <a [routerLink]="['/solicitudForm']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
           <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
           </svg>
           <span class="flex-1 ms-3 whitespace-nowrap">Solicitud Permiso</span>
        </a>
     </li>
     <li>
      <a [routerLink]="['/NewUsuario']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
         <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
         </svg>
         <span class="flex-1 ms-3 whitespace-nowrap">Crear Usuarios Nuevos</span>
      </a>
   </li>
   <li>
    <a [routerLink]="['/NewAmbulancia']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
       <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
          <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
       </svg>
       <span class="flex-1 ms-3 whitespace-nowrap">Crear Ambulancias Nuevos</span>
    </a>
 </li>
     <!--
     <li>
      <a [routerLink]="['/Colaboradores']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
         <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
         </svg>
         <span class="flex-1 ms-3 whitespace-nowrap">Colaboradores</span>
      </a>
   </li>
        <li>
           <a [routerLink]="['/CargarHorario']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
              <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Cargar Horario</span>
           </a>
        </li>

       <li>
        <a [routerLink]="['/ColaboradoresProvinciales']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
          <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
         </svg>
           <span class="flex-1 ms-3 whitespace-nowrap">Colaboradres Provinciales</span>
        </a>
     </li>
     <li>
      <a [routerLink]="['/AgentesNacionalesComponent']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
        <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
          <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
       </svg>
         <span class="flex-1 ms-3 whitespace-nowrap">Colaboradres Generales</span>
      </a>
   </li>

   <li>
    <a [routerLink]="['/FormularioSolicitud']" class="flex items-center p-2 text-gray-50 rounded-lg hover:bg-red-600 group">
      <svg class="flex-shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
     </svg>
       <span class="flex-1 ms-3 whitespace-nowrap">Formulario Solicitud</span>
    </a>
 </li>-->

     </ul>
  </div>
</aside>
