/* Sidenav estilos */
#logo-sidebar {
  background-color: #1d3b6f;
}

hr {
  border-color: #e5e7eb; /* Color gris claro */
  opacity: 0.5; /* Hace que el separador sea sutil */
}

aside #logo-sidebar .flex img {
  width: 100px; /* Ajuste del ancho de la imagen */
  height: 100px; /* Ajuste de la altura de la imagen */
}


#logo-sidebar {
  padding-top: 96px; /* Ajusta este valor según la altura del encabezado */
}

#logo-sidebar img {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#logo-sidebar h2 {
  font-size: 0.875rem; /* Reduce tamaño de texto */
  font-weight: 600; /* Semi-bold */
  color: #ffffff;
  text-align: center;
  margin-top: 4px;
}


#logo-sidebar p {
  font-size: 0.75rem; /* Tamaño más pequeño para rol y equipo */
  color: #cbd5e1;
  margin-top: 2px;
  text-align: center;
}

/* Links de las opciones */
#logo-sidebar a {
  display: flex;
  align-items: center;
  color: #f3f4f6;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#logo-sidebar a:hover {
  background-color: #d32f2f;
}

#logo-sidebar svg {
  margin-right: 8px;
}
