<div class="p-4 sm:ml-64 bg-gray-100">
   <div class="p-4 rounded-lg mt-14">
      <div class="grid md:grid-cols-4 gap-5 mb-4">
         <app-simple-card
         title="New Wins"
         content="250%"
         stats="25%"
         footerlaber="Ganancias de los ultimos 30 dias"
         class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
         </app-simple-card>
      <app-simple-card
         title="Trial: Win Rate"
         content="9.28%"
         stats="25%"
         footerlaber="Ganancias de los ultimos 30 dias"
         class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
      </app-simple-card>
      <app-simple-card
         title="New MRR"
         content="250,300"
         stats="9.80%"
         footerlaber="Ganancias de los ultimos 30 dias"
         class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
      </app-simple-card>
      <app-circular-chart
      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
      </app-circular-chart>
      </div>
      <div class="grid md:grid-cols-4 gap-5">
      
      </div>
   </div>
</div>
