<div class="main-container">
  <div class="content-container bg-white shadow-lg rounded-lg p-8 mx-auto">
    <!-- Título de "Detalle de la Persona" con fondo de color -->
    <div class="title-container">
      <h2 class="section-title text-4xl font-bold mb-4 text-center">Detalle de la Persona</h2>
    </div>

    <hr class="divider mb-8 mx-auto">

    <!-- Información de la persona centrada -->
    <div class="bg-gray-50 p-8 rounded-t-xl person-info-container">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-lg mb-4 text-center">
        <div>
          <p class="font-semibold text-gray-600">Nombre:</p>
          <p class="text-gray-900">{{ persona.nombre }}</p>
        </div>
        <div>
          <p class="font-semibold text-gray-600">Cédula:</p>
          <p class="text-gray-900">{{ persona.cedula }}</p>
        </div>
        <div>
          <p class="font-semibold text-gray-600">Provincia:</p>
          <p class="text-gray-900">{{ persona.provincia }}</p>
        </div>
      </div>
    </div>

    <hr class="divider mb-8 mx-auto">

    <!-- Título de "Actividades" con fondo de color -->
    <div class="title-container">
      <h3 class="section-title text-3xl font-semibold mb-4 text-center">Actividades</h3>
    </div>

    <!-- Sección de Actividades -->
    <div class="activities-container bg-white rounded-lg shadow-md p-6 mt-6">
      <div class="overflow-auto rounded-lg shadow-sm">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg">
          <thead>
            <tr class="bg-blue-100 text-gray-800 uppercase text-md font-semibold">
              <th class="py-4 px-6 text-left">Fecha</th>
              <th class="py-4 px-6 text-left">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let actividad of actividades" class="hover:bg-gray-50 border-b border-gray-200">
              <td class="py-4 px-6 text-gray-700">{{ actividad.fecha }}</td>
              <td class="py-4 px-6 text-gray-700">{{ actividad.descripcion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
